/*-------------------------
  Simple reset
--------------------------*/


*{
  margin:0;
  padding:0;
}


/*-------------------------
  General Styles
--------------------------*/


html{
  background-color:#121314;
}

body{
  font:15px/1.3;
  font-family: 'Open Sans', sans-serif;
  color: #dfe0e6;
}

a, a:visited {
  outline:none;
  color:#389dc1;
}

a:hover{
  text-decoration:none;
}

section, footer, header, aside{
  display: block;
}


/*----------------------------
  The main content element
-----------------------------*/

header{
  height: 80px;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
}

#logo{
  font:inherit;
  font-size:30px;
  border-style: solid;
  border-width: 6px;
  background: #6F9E00;
  border-color: #ffffff;
  color:#fff;
  text-transform:uppercase;
  margin:10px 10px 10px 200px;
  text-align:center;
  padding:10px;
  border-radius: 20px;
  float: left;
  letter-spacing: -5px;
  font-weight: 600;
}

#title {
  float: left;
  font-size:30px;
  padding-top: 25px;
  font-weight: 600;
}

#app{
  padding:60px;
  width:1000px;
  margin:0px auto;
}

#logged{
  margin:10px 200px 10px 10px;
  float: right;
}


#playlistsapp h1{
  font-size:36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 20px;

}

#playlistsapp input[type="text"] {
  width: 200px;
  font-size: 15px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  margin-bottom: 10px;
  outline: none;
  padding: 6px 15px;
  border: 1px solid #999999;
  border-radius: 37px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#playlistsapp select{
  width: 200px;
  font-size: 15px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  margin-bottom: 10px;
  outline: none;
  padding: 6px 15px;
  border: 1px solid #999999;
  border-radius: 37px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#playlistsapp input[type="button"] {
  font:inherit;
  font-size:12px;
  cursor:pointer;
  border:none;
  background: #648f00;
  border-color: #648f00;
  color:#fff;
  text-transform:uppercase;
  width:auto;
  margin:5px 5px;
  text-align:center;
  padding:10px 25px;
  border-radius: 37px;
}

#playlistsapp input[type="button"]:disabled{
  background: #A4A4A4;
  cursor:default;
}

#login {
  text-align: center;
}

#trackSection {
  float: left;
  position: relative;
}

#playlistSection {
  float: right;
  position: relative;
}

#trackSection, #playlistSection {
  width: 470px;
  padding:10px;
  background-color: #1c1c1f;
}

#playlistSection h4{
  padding:10px;
  margin-bottom:10px;
  border-radius:4px;
  cursor:pointer;
  border-bottom: 1px solid #222326;
}

#playlistTracks, #tracks{
  list-style:none;
  margin:0 auto;
}

#playlistTracks li, #tracks li {
  font-size:15px;
  padding:10px;
  border-radius:4px;
  cursor:pointer;
  border-bottom: 1px solid #222326;
}

#tracks li:hover {
  background-color: #222326;
}

#tracks li.checked {
  background-color: #222326;
}

#playlistSection label {
  margin: 20px;
  text-align: center;
}

